$basic_w: 250;

$w: 1;
$W: 1.12;
$h: 1.07;
$H: 1.37;

$p: ($W - $w) / 2;
$h2: $H - $h - $p * 2;

$plaroid_w: $w * $basic_w + px;
$plaroid_W: $W * $basic_w + px;
$plaroid_h: $h * $basic_w + px;
$plaroid_h2: $h2 * $basic_w + px;
$plaroid_p: $p * $basic_w + px;

.bio {
	display: flex;
	margin-top: 70px;

  .photo {
		width: 200px;

		figure {
			width: 200px;
			box-shadow: inset 0 0 20px #6669;
			background-color: #fff;
			position: relative;
			height: $plaroid_h;
			background: url("../../../assets/images/me.jpg") no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			transform: scaleX(-1);
			margin: 0;
		}

		@media (max-width: 767px) {
			width: 100%;
			text-align: center;

			figure {
				display: inline-block;
			}
		}

		@media (min-width: 992px) {
			figure {
				z-index: 10;
			}
		}
	}

	.navigation {
		width: 30px;
		font-size: 2rem;
	}

	.presentation {
		padding-left: 30px;
		max-width: 700px;

		@media (max-width: 767px) {
			padding-top: 20px;
			padding-left: 0;
		}

		h1 {
			text-align: left;
			margin-top: 0;
		}
	}

	@media (max-width: 767px) {
		flex-direction: column;
	}
}
