$basic_w: 375;

$w: 1;
$W: 1.12;
$h: 1.07;
$H: 1.37;

$p: ($W - $w) / 2;
$h2: $H - $h - $p * 2;

$plaroid_w: $w * $basic_w + px;
$plaroid_W: $W * $basic_w + px;
$plaroid_h: $h * $basic_w + px;
$plaroid_h2: $h2 * $basic_w + px;
$plaroid_p: $p * $basic_w + px;

figure {
	width: $plaroid_W;
	max-width: 100%;
	padding: $plaroid_p;
	box-shadow: -1px 5px 15px -5px #aaa;
	background-color: #fff;
	position: relative;

	fa-icon {
		position: absolute;
		left: -60px;
		top: 20px;
		font-size: 4rem;
	}

	.me {
		width: $plaroid_w;
		max-width: 100%;
		height: $plaroid_h;
		background: url("../../../assets/images/me.jpg") no-repeat;
		background-position-x: 50%
	}

	figcaption {
		max-width: $plaroid_w;
		font-size: 1.7rem;
		text-align: center;

		h1 {
			margin-top: 0;
			margin-bottom: 5px;
			padding-top: 7px;
			font-weight: 400;
			font-size: 2rem;
		}

		span.ru {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 992px) {
	figure {
		transform: rotate(3deg) scale(0.6);
		transform-origin: 100% 0;
		position: absolute;
		right: -8px;
		top: 40px;
		z-index: 10;
	}
}