@import "./../../../styles/variables";
@import "./../../../styles/mixins";

#mindmap {
	text-align: center;
	position: relative;

	#label {
		position: absolute;
		font-size: 1.3rem;
		padding: 10px;
		background-color: #ffe000;
		opacity: 0.8;
		display: none;
		@include no-selection();
	}
}