@import "./../../../styles/variables";

#mindmap {
	text-align: center;
	position: relative;

	#label {
		position: absolute;
		// top: 0;
		// right: 0;
		font-size: 1.3rem;
		padding: 10px;
		background-color: #ffe000;
		opacity: 0.8;
		display: none;

		// запрещаем выделение текста
		-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			 -khtml-user-select: none; /* Konqueror HTML */
		  	 -moz-user-select: none; /* Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
							user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	right: calc(50% - 20px);
		// 	top: -30px;
		// 	border: 20px solid transparent;
		// 	border-bottom: 10px solid #ffe000;
		// }
	}
}

// Остальные стили в основном файле