@import "./../../../styles/variables";

.rule {
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;

  hr {
    border-style: dashed
  }

  .text-over-rule {
    position: absolute;
    top: -12px;
    text-align: center;
    width: 100%;

    .text {
      background-color: white;
      padding: 0 4px;
      color: #ddd;
    }
  }
}

.year-of-projects {
  padding: 0;

  .media-body {
    margin: auto;
  }

  h3, h4 {
    text-align: left;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-family: $font-primary;

    a {
      display: inline-block;
      width: 100%;

      &:hover, &:focus {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }

  h3 {
    font-family: $font-primary;
    font-size: 1.3rem;

    @media (max-width: 576px) {
      font-size: 1rem;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 1.1rem;
    }

    a {
      padding: 0.75rem 1.25rem;
    }
  }

  h4 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    // font-weight: 700;
  }

  .col-lg-6, .col-xs-6 {
    .work {
      display: block;
      color: $color-primary;
      padding: 10px;
      margin: 5px 10px;

      &:hover {
        background-color: #f6f6f6;
        border-radius: 10px;
      }

      .favourite {
        color: orange;
      }

      img {
        width: 100px;
        height: 100px;
        margin-right: 3px;
        border-radius: 10px;
      }
    }
  }
}

.modal-title {
  width: 100%;
}

.modal-body {
  padding: 0;

  img {
    min-width: 100%;
  }
}

.modal-footer {
  display: block;
  text-align: left;
}