<div class="works-view" *ngIf="works.length > 0">
  <div class="imac"></div>
  <div class="work">
    <img [src]="'assets/images/projects/large/' + works[currentWorkIndex].img" [alt]="works[currentWorkIndex].name" (click)="showWorksList()">
  </div>
  <div class="logo" (click)="toggleBest()"></div>
  <!-- <div class="arrow arrow-left" (click)="prevWork()">&larr;</div>
  <div class="arrow arrow-right" (click)="nextWork()">&rarr;</div> -->
</div>

<div class="works-list" *ngIf="worksListShown">
  <div class="bg" (click)="closeWorksList()"></div>
  <div class="work" *ngFor="let work of works" (click)="openModal(work)" data-toggle="modal" data-target=".bd-example-modal-lg">
    <img [src]="'assets/images/projects/large/' + work.img" [alt]="work.name">

    <div class="description">
      <div class="bg"></div>
      <div class="title">{{ work.name }}</div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="selectedXP !== undefined">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedXP.name }}</h5>
      </div>
      <div class="modal-body">
        <img *ngIf="selectedXP.video === undefined" class="img-fluid" src="assets/images/projects/large/{{ selectedXP.imgLarge || selectedXP.img }}" alt="{{ selectedXP.name }}">
        <div *ngIf="selectedXP.video !== undefined" class="embed-responsive embed-responsive-16by9">
          <embed class="embed-responsive-item" [src]="videoUrl">
        </div>
      </div>
      <div class="modal-footer">
        {{ selectedXP.description || '' }}
        <ul class="list-unstyled mt-2 mb-0">
          <li *ngFor="let link of selectedXP.links">
            <a href="{{link.url}}" target="_blank">
              <fa-layers class="fa-fw">
                <fa-icon [icon]="['fas', link.icon || 'link']"></fa-icon>
              </fa-layers>
              {{link.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>