<h2 id="projects">Проекты</h2>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" *ngFor="let xp of xps; let i = index">
    <div class="card-header" role="tab" id="{{ xp.year }}">
      <h3>
        <a data-toggle="collapse" href="#tab_{{ xp.year }}">
          {{xp.year}} «{{xp.name}}»
          <span class="pull-right badge badge-default badge-pill">{{ xp.works.length }}</span>
        </a>
      </h3>
    </div>
    <div id="tab_{{ xp.year }}" class="collapse" [class.show]="i === 0" role="tabpanel">
      <div class="card-block">
        <div class="row no-gutters">
          <div class="col-lg-6 col-xs-12" *ngFor="let work of xp.works">
            <a href="#" class="work" (click)="openModal(work)"
               data-toggle="modal" data-target=".bd-example-modal-lg">
              <div class="media">
                <img class="d-flex mr-3" src="assets/images/projects/thumbs/{{work.img}}" alt="{{work.name}}">
                <div class="media-body">
                  <h4>
                    {{ work.name }}
                    <span *ngIf="work.favourite" class="favourite fa fa-star"></span>
                  </h4>
                  <ul class="list-inline" *ngIf="false">
                    <li class="list-inline-item" *ngFor="let tag of work.tags">
                      <a href="#">{{ tag }}</a>
                    </li>
                  </ul>
                  {{ work.description }}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно с более подробным описанием проекта -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" *ngIf="selectedXP !== undefined">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedXP.name }}</h5>
      </div>
      <div class="modal-body">
        <img *ngIf="selectedXP.video === undefined" class="img-fluid" src="assets/images/projects/large/{{ selectedXP.imgLarge || selectedXP.img }}" alt="{{ selectedXP.name }}">
        <div *ngIf="selectedXP.video !== undefined" class="embed-responsive embed-responsive-16by9">
          <embed class="embed-responsive-item" [src]="videoUrl">
        </div>
      </div>
      <div class="modal-footer">
        {{ selectedXP.description }}
        <ul class="list-unstyled mt-2 mb-0">
          <li *ngFor="let link of selectedXP.links">
            <a href="{{link.url}}" target="_blank">
              <span class="fa fa-fw fa-{{link.icon || 'link'}}"></span>
              {{link.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>