.container.cv {
  // background: #f8f8f8 url(../../assets/images/paper.jpg);
  position: relative;
  margin-top: 20px;
  // padding: 40px;
  // box-shadow: 0 7px 40px #aaa;
  border-radius: 3px;

  .contacts {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    z-index: 2;
    margin-left: 15px;

    > .links {
      height: 48px;
      overflow: hidden;
      width: 0%;
      z-index: 2;
      -webkit-transition: width 200ms ease-in-out;
      transition: width 200ms ease-in-out;

      &.shown {
        width: 100%;
      }

      .links-list {
        // background-color: #fff;
        width: 0%;
        -webkit-transition: width 200ms ease-in-out;
        transition: width 200ms ease-in-out;

        &.shown {
          width: 100%;
        }
      }
    }

    > .address-card {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      -webkit-transition: opacity 200ms ease-out 200ms;
      transition: opacity 200ms ease-out 200ms;

      &.shown {
        opacity: 1;
      }
    }

    a {
      margin-right: 15px;
    }
  }

  .row {
    margin-top: 50px;
  }
}

// @media (max-width: 768px) {
//   .container.cv {
//     max-width: 780px;
//   }
// }

img.flag {
  width: 50px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  transform: rotate(3deg);
  transform-origin: 0 0;
  top: 5px;
  right: 0px;
}