@import "variables";
@import "mixins";

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-primary;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
}

h1, h2 {
  text-align: center;
}

h2 {
  padding-top: 60px;
  padding-bottom: 6px;
}

a {
  color: $color-primary;
  transition: color 100ms ease-in-out;

  &:hover, &:focus, &:active, &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {max-width: 540px;}
  @media (min-width: 768px) {max-width: 720px;}
  @media (min-width: 992px) {max-width: 960px;}
  @media (min-width: 1200px) {max-width: 1140px;}
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

// Запросы для адаптивной вёрстки
// @media (max-width: 575px) {} // xxs
// @media (min-width: 576px) and (max-width: 767px) {} // xs
// @media (min-width: 768px) and (max-width: 991px) {} // sm
// @media (min-width: 992px) and (max-width: 1199px) {} // md
// @media (min-width: 1200px) {} // lg
