@import "../../node_modules/normalize-scss/sass/normalize";
@import "variables";
@import "mixins";

@include normalize();

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
  font-weight: 500;
}

h1, h2 {
  text-align: center;
}

h2 {
  padding-top: 60px;
  padding-bottom: 6px;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 2rem;
}

a {
  color: $color-primary;
  transition: color 100ms ease-in-out;
  text-decoration: none;

  &:hover, &:focus, &:active, &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
  }
}

code {
  background-color: #ddd;
  border-radius: 3px;
  padding: 0 5px;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 4px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // @media (min-width: 576px) {max-width: 540px;}
  @media (min-width: 768px) {max-width: 720px;}
  @media (min-width: 992px) {max-width: 960px;}
  @media (min-width: 1200px) {max-width: 1140px;}

  .row {
    display: flex;
    flex-wrap: wrap;

    & > * {
      @media (max-width: 767px) {width: 100%}
    }

    .col-xl-3 {
      @media (min-width: 1200px) {width: 25%}
    }

    .col-lg-4 {
      @media (min-width: 992px) and (max-width: 1199px) {width: 33%;}
    }

    .col-md-6 {
      @media (min-width: 768px) and (max-width: 991px) {width: 50%;}
    }
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

// Запросы для адаптивной вёрстки
// @media (max-width: 575px) {} // xs
// @media (min-width: 576px) and (max-width: 767px) {} // sm
// @media (min-width: 768px) and (max-width: 991px) {} // md
// @media (min-width: 992px) and (max-width: 1199px) {} // lg
// @media (min-width: 1200px) {} // xl
