@import "./../../../styles/variables";

footer {
  background-color: $color-secondary;
  padding: 30px 0 30px 0;
  margin-top: 50px;
  color: $color-bg;

  @media (max-width: 575px) {
    font-size: 1.3rem;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    font-size: 1.3rem;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 1.1rem;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 1.3rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }

  a {
    color: darken(white, 10);

    &:hover {
      color: darken(#ffe000, 7);
    }
  }

  .links {
    @media (max-width: 575px) {
      font-size: 3rem;
      margin: 0 0.5rem;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 3rem;
      margin: 0 1.5rem;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 2.9rem;
      margin: 0 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 3.5rem;
      margin: 0 2rem;
    }
    @media (min-width: 1200px) {
      font-size: 4rem;
      margin: 0 2.5rem;
    }
  }
}