ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin-top: 40px;

  li {
    a {
      display: inline-flex;
      transition: transform .1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      div {
        width: 200px;
        margin-left: 10px;

        strong {
          display: block;
          margin: 10px 0 8px;
        }

        .description {
          font-size: .9rem;
          color: #333;
        }

        &.icon {
          width: 82px;
          height: 82px;
          border-radius: 20px;
          border: 1px solid gray;;
          margin-bottom: 5px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

}
