<div class="projects-list">
  <h1>{{ title[common.lang] }}</h1>

  <fa-icon class="close" [icon]="['fas', 'chevron-left']" (click)="backToSite()"></fa-icon>

  <div class="projects-grid">
    <div #projectElement class="project" *ngFor="let project of common.projects" (click)="openModal(project)" data-toggle="modal" data-target="#projects-modal">
      <img [src]="'assets/images/projects/landings/' + project.img" [alt]="project.name[common.lang]">

      <div class="description">
        <div class="bg"></div>

        <div class="title">
          {{ project.name[common.lang] }}<br>
          <span class="year small">{{ project.year }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [project]="openedProject" [isShown]="isModalShown" (modalClosed)="isModalShown = false"></app-modal>
