<div #projectsViewElement class="projects-view" (window:resize)="onWindowResize($event)">
  <div #projectElement class="project">
    <img #projectImgElement [src]="'assets/images/projects/landings/' + common.projectsForBanner[currentProjectIndex].img" alt="banner">
  </div>

  <div class="imac"></div>

  <div class="button" (click)="showProjectsList()">
    <div class="bg"></div>
    <div class="message">
      <div class="body">
        <div class="header"></div>
        <button>{{ buttonText[common.lang] }}</button>
      </div>
    </div>
  </div>
</div>