<div class="projects-view"
  (window:resize)="onWindowResize($event)"
  [ngStyle]="{
    height: projectsViewHeight,
    transform: projectsViewScale
  }">
  <div class="project">
    <img [src]="'assets/images/projects/landings/' + common.projectsForBanner[currentProjectIndex].img"
      [ngClass]="{scrolledDown: isScrolledDown}"
      alt="banner">
  </div>

  <div class="imac"></div>

  <div class="button" (click)="showProjectsList()">
    <div class="bg"></div>
    <div class="message">
      <div class="body">
        <div class="header"></div>
        <button>{{ buttonText[common.lang] }}</button>
      </div>
    </div>
  </div>
</div>