<h2 id="education">Образование</h2>
<div class="row">
  <div class="col educatuon">
    <h3><span class="fa fa-graduation-cap fa-lg"></span> Магистр <small>2016</small></h3>
    <p>
      <a href="https://mipt.ru/education/chairs/movementcontrol/">кафедры управления движением</a><br>
      <a href="https://mipt.ru/dasr/">факультета аэрофизики и космических исследований</a><br>
      <strong><a href="https://mipt.ru">Московский физико-технический институт</a></strong>
    </p>
  </div>
  <div class="col educatuon">
    <h3><span class="fa fa-graduation-cap fa-lg"></span> Бакалавр <small>2014</small></h3>
    <p>
      <a href="https://mipt.ru/education/chairs/movementcontrol/">кафедры управления движением</a><br>
      <a href="https://mipt.ru/dasr/">факультета аэрофизики и космических исследований</a><br>
      <strong><a href="https://mipt.ru">Московский физико-технический институт</a></strong>
    </p>
  </div>
</div>