<na-photo class="float-right"></na-photo>
<p>
  Привет! Я Игорь Поляков, веб-разработчик.
  Делаю с нуля веб-платформы любой сложности, однако специализируюсь на их <a href="https://ru.wikipedia.org/wiki/Front_end_%D0%B8_back_end" target="_blank">frontend</a>-части.
  Примеры моих работ, а также инструменты, которыми я пользуюсь, можно увидеть ниже на сайте.
</p>
<p>
  Я окончил <a href="https://mipt.ru/" target="_blank">Физтех</a> — один из лучших технических вузов, во многом известный благодаря своим выпускникам, среди которых есть лауреаты Нобелевской премии.
</p>
<p>
  В проектной работе нацелен прежде всего на результат и первым делом создаю в кратчайшие сроки минимально-рабочий прототип продукта, что помогает уже на ранних этапах работы сосредоточить внимание на наиболее важных вещах, а также избежать лишней работы.
  В самом рабочем процессе я сторонник поддержания высокого уровня организации, удобства и ясности для осуществления максимального контроля процесса.
  Рутинные действия по возможности автоматизирую или же делегирую, что сильно экономит время и помогает сосредоточиться в основном на креативных задачах.
</p>
<p>
  Кстати, я регулярно практикуюсь в коммуникации с людьми, благодаря чему мне удаётся поддерживать благоприятный эмоциональных фон в команде и зачастую, если всё же до этого доходит, предотвращаю развитие конфликтов между членами команды.
</p>
<p>
  При работе в команде часто проявляю инициативу в улучшении качества рабочего процесса:
</p>
<ul>
  <li>создание универсальных компонент, решающих целый класс задач (например, drug’n’drop и мини-программа для рисования картинок)</li>
  <li>написание документаций по имеющимся наработкам, что позволило уменьшить время освоения рабочего процесса в компаниях</li>
  <li>даже расстановка мебели наиболее комфортным для работы способом</li>
</ul>