iframe {
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(8, 13, 74, 0.16);
}

.frames {
  display: flex;

  .left {
    iframe {
      margin-right: 3px;

      @media (min-width: 992px) and (max-width: 1199px) {width: 650px;} // lg
      // @media (min-width: 576px) and (max-width: 767px) {} // md
      @media (max-width: 575px) {} // xs
    }
  }

  .right {
    width: 300px;
  }
}