iframe {
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(8, 13, 74, 0.16);
}

.frames {
  padding: 0 20px;
  margin: auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1198px) {flex-direction: column;} // sm

  .left {
    iframe {
      @media (max-width: 1199px) {
        width: 100vw;
        height: 400px;
      } // sm
      @media (min-width: 992px) and (max-width: 1199px) {height: 650px;} // lg
      @media (max-width: 575px) {
        position: relative;
        left: -15px;
        height: 300px;
        margin-bottom: 10px;
      } // xs
    }
  }

  .right {
    width: 300px;
  }
}
