<div id="projects-modal" class="modal fade" [ngClass]="{show: isShown}" tabindex="-1" role="dialog" *ngIf="project">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title">{{ project.name[common.lang] }} ({{ project.year }})</h5>
      </div>

      <div class="modal-body">
        <img *ngIf="project.video === undefined" class="img-fluid" [src]="'assets/images/projects/main-features/' + project.img" [alt]="project.name[common.lang]">

        <div *ngIf="project.video !== undefined" class="embed-responsive embed-responsive-16by9">
          <embed class="embed-responsive-item" [src]="project.videoUrl">
        </div>
      </div>

      <div class="modal-footer">
        <ul class="list-unstyled mb-0">
          <li *ngFor="let link of project.links">
            <a [href]="link.url" target="_blank">
              <fa-layers class="fa-fw">
                <fa-icon [icon]="['fas', link.icon || 'link']"></fa-icon>
              </fa-layers>
              {{ link.name[common.lang] }}
            </a>
          </li>
        </ul>

        <p *ngIf="project.description">{{ project.description[common.lang] || '' }}</p>

        <div class="feedback" *ngIf="project.feedback">
          <h6>Отзыв о проекте</h6>
          <img [src]="'assets/images/projects/feedback/' + project.img" [alt]="project.img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade"
  [ngClass]="{show: isShown}"
  (click)="closeModal()"></div>
