<nav class="navbar navbar-toggleable-md navbar-inverse sticky-top" id="navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand hidden-sm-down">
      <a href="#">iGor Polyakov</a>
      <span class=" hidden-lg-up">/ {{ activeLink }}</span>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" href="#{{ item.id }}">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>









